<div class="row">
  <div class="col-12">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm" (keyup.enter)="onSubmit(f)">
      <div class="row">
        <div class="col-3 form-group">
          <label for="category-input">Category</label>
            <input
              class="form-control"
              id="category-input"
              type="text"
              placeholder="Pick category or insert new one"
              matInput
              ngModel
              required
              name="category"
              [ngClass]="{'is-invalid': !category.valid && category.touched}"
              #category="ngModel"
              #rootInput
              [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let option of categoryFilteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          <div class="checkbox">
            <label><input type="checkbox" name="selectToady" [(ngModel)]="categoryKeepSelection" value="">Keep selection for next</label>
          </div>
          <small class="form-text text-danger" *ngIf="!category.valid && category.touched">Insert category</small>
        </div>

        <div class="col-3 form-group">
          <label for="store-input">Store</label>
          <input
            class="form-control"
            id="store-input"
            type="text"
            placeholder="Pick store or insert new one"
            matInput
            ngModel
            name="store"
            #store="ngModel"
            [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of storeFilterOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </div>

        <div class="col-3 form-group">
          <label for="amount-input">Amount</label>
          <input
            id="amount-input"
            class="form-control"
            type="number"
            ngModel
            name="amount"
            required
            positive
            [ngClass]="{'is-invalid': !amount.valid && amount.touched}"
            #amount="ngModel">
          <small class="form-text text-danger" *ngIf="!amount.valid && amount.touched">Insert amount value</small>
        </div>
        <div class="col-3 form-group">
          <label for="date-input">Date</label>
          <div class="input-group">
            <input
              id="date-input"
              class="form-control"
              [placeholder]="datePlaceholder"
              name="date"
              [(ngModel)]="dateModel"
              ngbDatepicker
              #d="ngbDatepicker"
              #date="ngModel"
              [ngClass]="{'is-invalid': !date.valid && date.touched}"
              [disabled]="selectToday"
              [required]="!selectToday">
            <span class="input-group-addon">
                        <span class="oi oi-calendar" (click)="d.toggle()" type="button"></span>
                    </span>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" name="selectToady" [(ngModel)]="selectToday" (change)="selectTodayDate()" value="">Take today</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" name="selectToady" [(ngModel)]="dateKeepSelection" value="">Keep selection for next</label>
          </div>
          <small class="form-text text-danger" *ngIf="!date.valid && date.touched">Insert date</small>
        </div>
      </div>
      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="!f.valid">Add
      </button>
    </form>
  </div>
</div>
