<div class="container-fluid">
  <app-page-title title="Dashboard"></app-page-title>

  <hr>
  <div class="row">
    <div class="col-12">
      <div class="card shadow border-bottom-primary">
        <div class="card-body">
          <app-account-balance></app-account-balance>
        </div>
      </div>
      <hr>
    </div>

    <div class="col-12">
      <div class="card shadow border-bottom-primary border-top-primary">
        <div class="card-body">
        <app-goals-fulfillment></app-goals-fulfillment>
        </div>
      </div>
      <hr>
    </div>



    <div class="col-12">
      <div class="card shadow border-top-primary">
        <div class="card-body">
        <app-widget-board></app-widget-board>
        </div>
      </div>
    </div>
  </div>
</div>




