<div class="container-fluid">
  <app-page-title title="Incomes"></app-page-title>
  <div class="row">
    <div class="col-12">
      <div class="card shadow border-bottom-primary">
        <div class="card-body">
          <app-new-income></app-new-income>
        </div>
      </div>
      <hr>
    </div>
    <div class="col-12">
      <div class="card shadow border-bottom-primary">
        <div class="card-body">
          <app-incomes-list></app-incomes-list>
        </div>
      </div>
      <hr>
    </div>
  </div>

  <hr>


</div>
