
<div class="row">
  <div class="col-1">
    <h4> {{title}} </h4>
  </div>
  <div class="col-10 bottom">
    <div *ngIf="!isAboveExpected()" class="progress">
      <div class="progress-bar bg-success" role="progressbar" aria-valuenow="goalStat.getActualNormalizeProgress()"
           aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width: getActualNormalizeProgress() + '%'}">
        {{ actual }}
      </div>
    </div>
    <div *ngIf="isAboveExpected()" class="progress">
      <div class="progress-bar bg-success" role="progressbar" aria-valuenow="getGoalNormalizeProgress()"
           aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width: getGoalNormalizeProgress() + '%'}">
        {{actual - goal}}
      </div>
      <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="goalStat.getActualNormalizeProgress()"
           aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width: getActualNormalizeProgress() + '%'}">
        {{ goal }}
      </div>
    </div>
  </div>
  <div class="col-1">
    {{  isAboveExpected() ? actual : goal }}
  </div>
</div>
