<div class="container-fluid">
  <app-page-title title="Expenses"></app-page-title>
  <div class="row">
    <div class="col-12">
      <div class="card shadow border-bottom-primary">
        <div class="card-body">
          <app-new-expense-item></app-new-expense-item>
        </div>
      </div>
      <hr>
    </div>
    <div class="col-12">
      <div class="card shadow border-bottom-primary">
        <div class="card-body">
          <app-expense-list></app-expense-list>
        </div>
      </div>
      <hr>
    </div>
  </div>

</div>
