<div class="container-fluid">
  <div class="row mb-4">
    <div class="col-12">
      <div class="card shadow border-left-info py-2">
        <div class="card-body">
          <app-expense-category-month></app-expense-category-month>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="card shadow border-left-info py-2">
        <div class="card-body">
          <app-expense-time-chart></app-expense-time-chart>
        </div>
      </div>
    </div>
  </div>
</div>

