<div class="row">
  <div class="col">
    <div class="row align-items-center">
      <div class="col align-items-center text-primary">
        <h3 class="border-bottom"> {{title}} </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-4 align-items-center text-center border-right">
        <h4>Current Month</h4>
      </div>
      <div class="col-4 align-items-center text-center border-right">
        <h4>Previous Month</h4>
      </div>
      <div class="col-4 align-items-center text-center">
        <h4>Total</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-4 align-items-center text-center">
        <h5> {{current}} </h5>
      </div>
      <div class="col-4 align-items-center text-center">
        <h5> {{prev}} </h5>
      </div>
      <div class="col-4 align-items-center text-center">
        <h5> {{total}} </h5>
      </div>
    </div>
  </div>
</div>
